// ====== BREADCRUMB ======
.c-breadcrumb {
  display: flex;
  align-items: center;

  &__icon {
    width: 15px;
    height: 15px;
  }

  &__item {
    margin-top: 2px;
    display: inline-flex;
  }

  &__link {
    margin-left: 5px;
    color: $main-text-cl;
    // text-transform: uppercase;
    transition: all 0.3s;

    &.is-active {
      font-weight: bold;
    }

    &.is-underline {
      text-decoration: underline;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  & ul li + li::before {
    content: "\203A";
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
    position: relative;
    bottom: 0;
    left: 2px;
  }
}

// ====== SECTION ======
.c-section {
  &__title {
    @include text(2.4rem, "Yu Gothic", 1.4rem, $main-text-cl, capitalize);

    margin-top: 36px;
    margin-bottom: 28px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
    }
  }

  // ======= LINE COLOR =======
  .line-yellow {
    background-color: #fff9da;
    border: #ffd800 solid 1px;
    border-left: #ffd800 solid 7px;
  }

  .line-red {
    background-color: #fff2f2;
    border: #f68e56 solid 1px;
    border-left: #f68e56 solid 7px;
  }

  .line-blue-grey {
    background-color: #ebebeb;
    border: #6dcff6 solid 1px;
    border-left: #6dcff6 solid 7px;
  }
}

// ====== BUTTON ======
.btn {
  width: 152px;
  height: 50px;
  background-color: #afafaf;
  color: $white-cl;
  border-radius: 7px;

  @include mid(true);
}

// ====== CATEGORY =======
.btn-category {
  width: 130px;
  height: 35px;
  color: $main-text-cl;

  @include mid(true);

  // ======= BACKGROUND COLOR BUTTON =======
  &.bg-yellow {
    background-color: #fff799;
  }

  &.bg-pink {
    background-color: #ffdfdf;
  }

  &.bg-green {
    background-color: #a3d39c;
  }

  // ======= SIZE BUTTON =======

  &.btn-small {
    width: 70px;
  }

  &.btn-medium {
    width: 100px;
  }

  &.btn-large {
    width: 130px;
  }
}
