// ====== BREADCRUMB ======
.c-breadcrumb {
  display: flex;
  align-items: center;

  &__icon {
    width: 15px;
    height: 15px;
  }

  &__item {
    margin-top: 2px;
  }

  &__link {
    margin-left: 10px;
    color: $main-text-cl;
    text-transform: uppercase;
    transition: all 0.3s;

    &.is-active {
      font-weight: bold;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

// ====== SECTION ======
.c-section {
  &__title {
    @include text(2.4rem, "YuGothic", 1.4rem, $main-text-cl, capitalize);

    margin-top: 44px;
    margin-bottom: 30px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
    }
  }

  .line-yellow {
    background-color: #fff9da;
    border: #ffd800 solid 2px;
    border-left: #ffd800 solid 7px;
  }

  .line-red {
    background: #fff2f2;
    border: #f68e56 solid 2px;
    border-left: #f68e56 solid 7px;
  }
}

// ====== BUTTON ======
.btn {
  width: 152px;
  height: 50px;
  background-color: #afafaf;
  color: $white-cl;
  border-radius: 7px;

  @include mid(true);
}

// ====== CATEGORY =======
.btn-category {
  width: 130px;
  height: 35px;
  color: $main-text-cl;

  @include mid(true);

  &.bg-yellow {
    background-color: #fff799;
  }

  &.bg-pink {
    background-color: #ffdfdf;
  }

  &.bg-green {
    background-color: #a3d39c;
  }
}
