// ====== BREADCRUMB ======
.c-breadcrumb {
  display: flex;
  align-items: center;

  &__item {
    margin-top: 2px;
    display: inline-flex;
  }

  &__link {
    margin-left: 5px;
    color: $main-text-cl;
    transition: all 0.3s;

    &--underline {
      text-decoration: underline;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  & ul li + li::before {
    content: "\203A";
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
    position: relative;
    bottom: 0;
    left: 2px;
  }
}

// ====== SECTION ======
.c-section {
  &__title {
    font-size: 2.4rem;
    line-height: 0.5;
    margin-top: 36px;
    margin-bottom: 28px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
    }
  }

  // ======= LINE COLOR =======
  .line-yellow {
    background-color: #fff9da;
    border: $yellow-cl solid 1px;
    border-left: $yellow-cl solid 7px;
  }

  .line-red {
    background-color: #fff2f2;
    border: $orange-cl solid 1px;
    border-left: $orange-cl solid 7px;
  }

  .line-blue {
    background-color: #ebebeb;
    border: $blue-cl solid 1px;
    border-left: $blue-cl solid 7px;
  }
}

// ====== BUTTON ======
.btn {
  width: 152px;
  height: 50px;
  background-color: $gray-cl;
  color: $white-cl;
  border-radius: 7px;

  @include mid(true);
}

// ====== CATEGORY =======
.btn-category {
  width: 130px;
  height: 35px;
  color: $main-text-cl;

  @include mid(true);

  // ======= BACKGROUND COLOR BUTTON =======
  &.bg-yellow {
    background-color: #fff799;
  }

  &.bg-pink {
    background-color: $pink-cl;
  }

  &.bg-green {
    background-color: $green-cl;
  }

  // ======= SIZE BUTTON =======

  &.btn-small {
    width: 70px;
  }

  &.btn-medium {
    width: 100px;
  }

  &.btn-large {
    width: 130px;
  }
}
