html {
  font-size: 62.5%; // => 10px = 1rem
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  background: $main-bg-cl;
  position: relative;

  @include text(
    var(--body14-fs),
    "YuGothic",
    var(--body14-lh),
    $main-text-cl,
    none
  );

  //   .l-container-fluid {
  //     width: 100%;
  //     padding-right: var(--gap);
  //     padding-left: var(--gap);
  //     margin-right: auto;
  //     margin-left: auto;
  //   }

  //   .l-container {
  //     width: 100%;
  //     padding-right: calc(var(--gap) / 2);
  //     padding-left: calc(var(--gap) / 2);
  //     margin-right: auto;
  //     margin-left: auto;
  //   }

  .l-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 1200px) {
    .l-container {
      max-width: $container-width;
    }
  }
}

a {
  text-decoration: none;
}
