html {
  font-size: 62.5%; // => 10px = 1rem
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  background: $main-bg-cl;
  position: relative;
  // font-family: "游ゴシック", Yu Gothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; 
  color: $main-text-cl;
  line-height: $body14-lh;
  font-size: $body14-fs;

  .l-container {
    margin: 0 auto;
    width: 1000px;
  }
}

a {
  text-decoration: none;
}