html {
  font-size: 62.5%; // => 10px = 1rem
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  background: $main-bg-cl;
  position: relative;
  // font-family: "游ゴシック", Yu Gothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

  @include text(var(--body14-fs),
    "Yu Gothic",
    var(--body14-lh),
    $main-text-cl,
    none);

  .l-container {
    margin: 0 auto;
    width: 1000px;
  }
}

a {
  text-decoration: none;
}