@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  background: #fff;
  position: relative;
  font-size: 1.4rem;
  font-family: "Yu Gothic";
  line-height: 2rem;
  color: #222;
  text-transform: none;
}
body .l-container {
  margin: 0 auto;
  width: 1000px;
}

a {
  text-decoration: none;
}

.c-breadcrumb {
  display: flex;
  align-items: center;
}
.c-breadcrumb__icon {
  width: 15px;
  height: 15px;
}
.c-breadcrumb__item {
  margin-top: 2px;
  display: inline-flex;
}
.c-breadcrumb__link {
  margin-left: 5px;
  color: #222;
  transition: all 0.3s;
}
.c-breadcrumb__link--underline {
  text-decoration: underline;
}
.c-breadcrumb__link:hover {
  opacity: 0.7;
}
.c-breadcrumb__list {
  display: flex;
  align-items: center;
}
.c-breadcrumb ul li + li::before {
  content: "›";
  padding-left: 8px;
  padding-right: 8px;
  font-size: 25px;
  position: relative;
  bottom: 0;
  left: 2px;
}

.c-section__title {
  font-size: 2.4rem;
  line-height: 0.5;
  margin-top: 36px;
  margin-bottom: 28px;
  height: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.c-section__title span {
  margin-left: 20px;
}
.c-section .line-yellow {
  background-color: #fff9da;
  border: #ffd800 solid 1px;
  border-left: #ffd800 solid 7px;
}
.c-section .line-red {
  background-color: #fff2f2;
  border: #f68e56 solid 1px;
  border-left: #f68e56 solid 7px;
}
.c-section .line-blue {
  background-color: #ebebeb;
  border: #6dcff6 solid 1px;
  border-left: #6dcff6 solid 7px;
}

.btn {
  width: 152px;
  height: 50px;
  background-color: #afafaf;
  color: #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-category {
  width: 130px;
  height: 35px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-category.bg-yellow {
  background-color: #fff799;
}
.btn-category.bg-pink {
  background-color: #ffdfdf;
}
.btn-category.bg-green {
  background-color: #a3d39c;
}
.btn-category.btn-small {
  width: 70px;
}
.btn-category.btn-medium {
  width: 100px;
}
.btn-category.btn-large {
  width: 130px;
}

.u-red-cl {
  color: #c40000;
}

.u-blue-cl {
  color: #11638a;
}

.u-pink-cl {
  color: #f5989d;
}

header .l-container {
  height: 100%;
  position: relative;
}
header .c-header {
  width: 100%;
  height: 89px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a8a8a8;
}
header .c-header__img {
  height: 50px;
  width: 250px;
}
header .c-header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
header .c-header__link {
  color: #222;
  transition: all 0.3s;
}
header .c-header__link--active {
  font-weight: bold;
}
header .c-header__link:hover {
  opacity: 0.7;
}

footer .c-footer__top {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 3px;
  padding: 6px 0;
}
footer .c-footer__mid {
  background-color: #fafafa;
  height: 202px;
  display: flex;
  align-items: center;
}
footer .c-footer__list {
  display: flex;
}
footer .c-footer__item {
  width: 300px;
  margin-right: 50px;
}
footer .c-footer__item h3 {
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  width: 300px;
  padding-bottom: 5px;
}
footer .c-footer__item ul {
  padding-left: 14px;
  padding-top: 2px;
  font-size: 1.4rem;
  line-height: 20px;
}
footer .c-footer__item ul.list-stype-disc {
  list-style-type: disc;
}
footer .c-footer__item ul.list-stype-disclosure {
  list-style-type: disclosure-closed;
}
footer .c-footer__item ul.list-stype-custom {
  list-style-image: url("../img/link.png");
}
footer .c-footer__item ul li a {
  color: #222;
  transition: all 0.3s;
}
footer .c-footer__item ul li a:hover {
  opacity: 0.7;
}
footer .c-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: "游ゴシック";
  line-height: 2rem;
  color: #222;
  text-transform: none;
  height: 50px;
  border-top: 1px solid #ccc;
}

.p-homepage .p-banner {
  margin-top: 37px;
  position: relative;
}
.p-homepage .p-banner__img {
  width: 100%;
  height: 360px;
}
.p-homepage .p-banner__content {
  width: 400px;
  position: absolute;
  bottom: 38px;
  left: 40px;
}
.p-homepage .p-banner__content a {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: bold;
  transition: all 0.3s;
  margin-bottom: 10px;
}
.p-homepage .p-banner__content a:hover {
  opacity: 0.7;
}
.p-homepage .p-banner__content h1 {
  margin-top: 12px;
  font-size: 2rem;
  line-height: 3rem;
}
.p-homepage .p-news__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.p-homepage .p-news__item {
  display: flex;
  gap: 40px;
  height: 190px;
}
.p-homepage .p-news__img {
  position: relative;
}
.p-homepage .p-news__img img {
  width: 350px;
  height: 100%;
}
.p-homepage .p-news__img a {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  line-height: 3rem;
  transition: all 0.3s;
  width: 110px;
  height: 30px;
}
.p-homepage .p-news__img a:hover {
  opacity: 0.7;
}
.p-homepage .p-news__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-homepage .p-news__content h3 {
  padding-bottom: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
.p-homepage .p-news__content p {
  font-weight: 500;
}
.p-homepage .p-news__content a {
  margin-left: auto;
  transition: all 0.3s;
}
.p-homepage .p-news__content a:hover {
  opacity: 0.7;
}
.p-homepage .p-news__btn {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-homepage .p-news__btn a {
  background-color: #ffd800;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 2rem;
  width: 295px;
  height: 60px;
  border: 3px solid #000;
  transition: all 0.3s;
}
.p-homepage .p-news__btn a:hover {
  opacity: 0.7;
}
.p-homepage .p-feature {
  background: #fafafa;
  padding-top: 26px;
}
.p-homepage .p-feature__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.p-homepage .p-feature__item {
  width: 300px;
  height: 300px;
}
.p-homepage .p-feature__img {
  height: 185px;
}
.p-homepage .p-feature__img img {
  width: 100%;
  height: 100%;
}
.p-homepage .p-feature__category {
  margin: 15px 0;
}
.p-homepage .p-feature__category a {
  height: 30px;
  transition: all 0.3s;
}
.p-homepage .p-feature__category a:hover {
  opacity: 0.7;
}
.p-homepage .p-feature__btn {
  padding: 60px 0;
  display: flex;
  justify-content: flex-end;
}
.p-homepage .p-feature__btn a {
  background-color: #f68e56;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 2rem;
  width: 295px;
  height: 60px;
  border: 3px solid #000;
  transition: all 0.3s;
}
.p-homepage .p-feature__btn a:hover {
  opacity: 0.7;
}
.p-homepage .p-blog {
  padding-top: 22px;
}
.p-homepage .p-blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.p-homepage .p-blog__item {
  width: 475px;
  height: 282px;
}
.p-homepage .p-blog__img {
  height: 185px;
}
.p-homepage .p-blog__img img {
  width: 100%;
  height: 100%;
}
.p-homepage .p-blog__category {
  margin: 15px 0 17px;
}
.p-homepage .p-blog__category a {
  height: 30px;
  transition: all 0.3s;
}
.p-homepage .p-blog__category a:hover {
  opacity: 0.7;
}
.p-homepage .p-blog__btn {
  padding: 50px 0 110px;
  display: flex;
}
.p-homepage .p-blog__btn a {
  background-color: #6dcff6;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 2rem;
  width: 100%;
  height: 60px;
  border: 3px solid #000;
  transition: all 0.3s;
}
.p-homepage .p-blog__btn a:hover {
  opacity: 0.7;
}

.p-link1page .p-anchor__list {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.p-link1page .p-anchor__item {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00aeef;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
}
.p-link1page .p-anchor__item img {
  width: 22px;
  height: 22px;
}
.p-link1page .p-anchor__item a {
  color: #fff;
}
.p-link1page .p-anchor__item:hover {
  opacity: 0.7;
}
.p-link1page .p-link {
  padding-top: 65px;
}
.p-link1page .p-link__title {
  font-size: 1.8rem;
  font-family: "游ゴシック";
  line-height: 2rem;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  height: 33px;
  padding-top: 3px;
}
.p-link1page .p-link1__sub {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 25px 0 18px;
}
.p-link1page .p-link1__sub a {
  text-decoration: underline;
  transition: all 0.3s;
}
.p-link1page .p-link1__sub a:hover {
  opacity: 0.7;
}
.p-link1page .p-link1 .c-box-content__list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.p-link1page .p-link1 .c-box-content__item {
  width: 300px;
  height: 300px;
}
.p-link1page .p-link1 .c-box-content__img {
  height: 185px;
}
.p-link1page .p-link1 .c-box-content__img img {
  width: 100%;
  height: 100%;
}
.p-link1page .p-link1 .c-box-content__category {
  margin: 15px 0;
}
.p-link1page .p-link1 .c-box-content__category a {
  height: 30px;
  transition: all 0.3s;
}
.p-link1page .p-link1 .c-box-content__category a:hover {
  opacity: 0.7;
}
.p-link1page .p-link2 {
  padding: 56px 0 30px;
}
.p-link1page .p-link2 .c-box-content {
  padding-top: 30px;
}
.p-link1page .p-link2 .c-box-content__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.p-link1page .p-link2 .c-box-content__item {
  width: 235px;
  height: 300px;
}
.p-link1page .p-link2 .c-box-content__img {
  height: 185px;
}
.p-link1page .p-link2 .c-box-content__img img {
  width: 100%;
  height: 100%;
}
.p-link1page .p-link2 .c-box-content__category {
  margin: 15px 0;
}
.p-link1page .p-link2 .c-box-content__category a {
  height: 30px;
  transition: all 0.3s;
}
.p-link1page .p-link2 .c-box-content__category a:hover {
  opacity: 0.7;
}
.p-link1page .p-link3 {
  padding-top: 27px;
  padding-bottom: 54px;
}
.p-link1page .p-link3__caption h3 {
  background-color: #ece6e6;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  margin: 30px 0 21px;
  font-weight: bold;
}
.p-link1page .p-link3__table {
  margin-top: 15px;
  margin-bottom: 50px;
}
.p-link1page .p-link3 .p__table2 th {
  background-color: transparent;
  color: #000;
}
.p-link1page .p-link3 .p-table__col {
  background-color: #d3d7d9;
}
.p-link1page .p-link3 .p-table__th {
  width: 14%;
}
.p-link1page .p-link3 .p-table__td {
  background-color: #6dcff6;
}
.p-link1page .p-link3 .p-table__tr {
  background-color: #acd373;
  color: #fff;
}
.p-link1page .p-link3 .c-caption__link {
  text-decoration: underline;
  transition: all 0.3s;
}
.p-link1page .p-link3 .c-caption__link--red {
  color: #ff0000;
}
.p-link1page .p-link3 .c-caption__link--yellow {
  color: #ff9c00;
}
.p-link1page .p-link3 .c-caption__link:hover {
  opacity: 0.7;
}
.p-link1page .p-link3 table,
.p-link1page .p-link3 th,
.p-link1page .p-link3 td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 16px;
}
.p-link1page .p-link3 table {
  width: 49%;
  text-align: center;
}
.p-link1page .p-link3 th,
.p-link1page .p-link3 td {
  padding: 9.5px;
}

.p-link2page .p-link2 {
  padding-top: 35px;
}
.p-link2page .p-link2__heading {
  height: 80px;
  background-color: #6dcff6;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-family: "Yu Gothic";
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.p-link2page .p-link2 .c__sub {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.p-link2page .p-link2 .c__sub img {
  width: 20px;
  height: 20px;
}
.p-link2page .p-link2 .c__sub h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-left: 5px;
}
.p-link2page .p-link2__title1 h2 {
  margin-top: 45px;
  margin-bottom: 25px;
  background-color: #bcd5e1;
  border-left: #11638a solid 7px;
}
.p-link2page .p-link2__title1 .p-title1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.p-link2page .p-link2__title1 .p-title1__content {
  padding-bottom: 50px;
}
.p-link2page .p-link2__title1 .p-title1__content2__desc {
  margin-top: 8px;
  margin-bottom: 16px;
}
.p-link2page .p-link2__title1 .p-title1__content2__message {
  margin-top: 12px;
  border: 1px solid #11638a;
  border-radius: 6px;
  padding: 20px;
}
.p-link2page .p-link2__title1 .p-title1__content2__message img {
  width: 20px;
  height: 15px;
}
.p-link2page .p-link2__title2 {
  padding-bottom: 92px;
}
.p-link2page .p-link2__title2 h2 {
  margin-top: 68px;
  margin-bottom: 22px;
  background-color: #ffe8e9;
  border-left: #f5989d solid 7px;
}
.p-link2page .p-link2__title2 .p-title2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.p-link2page .p-link2__title2 .p-title2__content {
  padding-bottom: 30px;
}
.p-link2page .p-link2__title2 .p-title2__content2 {
  padding-bottom: 30px;
}
.p-link2page .p-link2__title2 .p-title2__content2__desc {
  padding-top: 5px;
}
.p-link2page .p-link2__title2 .p-title2__content2__counter {
  padding-top: 30px;
}
.p-link2page .p-link2__title2 .p-title2__content2__counter ol {
  list-style-type: none;
  counter-reset: section;
}
.p-link2page .p-link2__title2 .p-title2__content2__counter ol li {
  padding-bottom: 10px;
}
.p-link2page .p-link2__title2 .p-title2__content2__counter ol .is-counter-section {
  padding-top: 8px;
  padding-left: 36px;
}
.p-link2page .p-link2__title2 .p-title2__content2__counter ol .is-counter-section li::before {
  content: counters(section, ".");
  counter-increment: section;
  color: #f5989d;
  margin-right: 5px;
}
.p-link2page .p-link2__title2 .p-title2__content2__counter ol li::before {
  content: counters(section, "") ". ";
  counter-increment: section;
  color: #f5989d;
}
.p-link2page .p-link2__title2 .p-title2__content3 {
  padding-top: 12px;
}
.p-link2page .p-link2__title2 .p-title2__content3__message {
  margin-top: 15px;
  margin-bottom: 32px;
  border: 1px solid #f5989d;
  border-radius: 6px;
  padding: 20px;
}
.p-link2page .p-link2__title2 .p-title2__content3__message img {
  width: 20px;
  height: 15px;
}
.p-link2page .p-link2__title2 .p-title2__content3__table {
  padding-top: 10px;
}
.p-link2page .p-link2__title2 .p-title2__content3__table table,
.p-link2page .p-link2__title2 .p-title2__content3__table th,
.p-link2page .p-link2__title2 .p-title2__content3__table td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 16px;
}
.p-link2page .p-link2__title2 .p-title2__content3__table table {
  width: 100%;
  text-align: center;
}
.p-link2page .p-link2__title2 .p-title2__content3__table th,
.p-link2page .p-link2__title2 .p-title2__content3__table td {
  padding: 9.5px;
}
.p-link2page .p-link2__title2 .p-title2__content3 .p-table__col {
  background-color: #ebebeb;
}
.p-link2page .p-link2__title2 .p-title2__content3 .p-table__tr {
  background-color: #acd373;
  color: #fff;
}
.p-link2page .p-link2__title2 .p-title2__content3 .p-table__th {
  width: 27.5%;
}
.p-link2page .p-link2__title2 .p-title2__content3 .p-table__th--small {
  width: 17.5%;
}/*# sourceMappingURL=style.css.map */