.p-homepage {

  // ======= BANNER =======
  .p-banner {
    margin-top: 37px;
    position: relative;

    &__img {
      width: 100%;
      height: 360px;
    }

    &__content {
      width: 400px;
      position: absolute;
      bottom: 38px;
      left: 40px;

      a {
        font-size: $body16-fs;
        line-height: 3rem;
        font-weight: bold;
        transition: all 0.3s;
        margin-bottom: 10px;

        &:hover {
          opacity: 0.7;
        }
      }

      h1 {
        margin-top: 12px;
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }

  // ======= NEWS =======
  .p-news {

    // ======= LIST NEWS =======
    &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__item {
      display: flex;
      gap: 40px;
      height: 190px;
    }

    &__img {
      position: relative;

      img {
        width: 350px;
        height: 100%;
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        font-size: $body14-fs;
        line-height: 3rem;
        transition: all 0.3s;
        width: 110px;
        height: 30px;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        padding-bottom: 10px;
        font-size: $body16-fs;
        font-weight: bold;
      }

      p {
        font-weight: 500;
      }

      // ======= BUTTON LINK =======
      a {
        margin-left: auto;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    // ======= BUTTON NEWS =======
    &__btn {
      padding: 60px 0;
      @include mid(true);

      a {
        background-color: $yellow-cl;
        font-size: 1.8rem;
        text-transform: uppercase;
        line-height: 2rem;
        width: 295px;
        height: 60px;
        border: 3px solid $black-cl;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  // ======= FEATURE =======
  .p-feature {
    background: #fafafa;
    padding-top: 26px;

    // ======= LIST FEATURE =======
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }

    &__item {
      width: 300px;
      height: 300px;
    }

    &__img {
      height: 185px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    // ======= BUTTON CATEGORY FEATURE =======
    &__category {
      margin: 15px 0;

      a {
        height: 30px;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    // ======= VIEW MORE =======
    &__btn {
      padding: 60px 0;
      display: flex;
      justify-content: flex-end;

      a {
        background-color: $orange-cl;
        font-size: 1.8rem;
        text-transform: uppercase;
        line-height: 2rem;
        width: 295px;
        height: 60px;
        border: 3px solid $black-cl;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  // ======= BLOG =======
  .p-blog {
    padding-top: 22px;

    // ======= LIST BLOG =======
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }

    &__item {
      width: 475px;
      height: 282px;
    }

    &__img {
      height: 185px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    // ======= BUTTON CATEGORY BLOG =======
    &__category {
      margin: 15px 0 17px;

      a {
        height: 30px;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    // ======= VIEW MORE =======
    &__btn {
      padding: 50px 0 110px;
      display: flex;

      a {
        background-color: $blue-cl;
        font-size: 1.8rem;
        text-transform: uppercase;
        line-height: 2rem;
        width: 100%;
        height: 60px;
        border: 3px solid $black-cl;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
